html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	background: #000 url('../img/Starfield.png') 0 0 repeat;
	/*background-size: 100% 100%;*/
}

body {
	min-height: 1001000px;
}

body > * {
	padding: 0 10px;

	transform: translate(0,0,0,0);

	max-height: 100000000px;
}

article {
	max-width: 320px;
	
	font-family: "Arial Black", Arial, "Helvetica Neue", sans-serif;
	font-size: 30px;
	letter-spacing: -0.05em;
	text-shadow: 0px -1px 2px #fff;
	color: #000;
}

button, 
input[type=text], 
input[type=password] {
	font-family: "Arial Black", Arial, "Helvetica Neue", sans-serif;
	font-size: 30px;
	letter-spacing: -0.05em;
	text-shadow: 0px -1px 2px #fff;
	color: #000;
	background: #111;
	padding: 5px 10px;
}

.game {
	height: 100%;
	width: 100%;
}

.dist {
	position: fixed;
	top: 10px;
	right: 30px;
	height: 30px;
	width: 200px;

	text-align: right;
	font-size: 30px;
}

h1, h2, h3 {
	text-align: justify;
	white-space: pre;
}

ul > li {
	color: #999;
} 

ul.list {
	position: relative;
}

.meters {
	background: rgba(255,255,255,.1);
	border-top: 10px dashed #333;

	/*transition: top 30s;
	-moz-transition: top 30s;
	-ms-transition: top 30s;
	-webkit-transition: top 30s;*/

	top: 0;
	display: block;
	position: absolute;
	font-size: 100px;

	height: 20px;
	width: 100%;
}

.intermediate {
	color: #aaa;
	border-color: #ddd;
}

.last {
	height: 2000px;
}

.enemy {
	top: 0;
	display: block;
	position: absolute;
	font-size: 20px;

	height: 20px;
	width: 100%;

	background: #fff;
	opacity: 0.8;
}

button.finish {
	background: #333;
	color: #fff;
	display: none;

	border: 0;
	cursor: pointer;
	font-size: 15px;
	width: 100%;
}